<div class="container">
    <h2>Lista de Pozos</h2>
    <!-- Mostrar toda la lista de pozos en el sistema con todos sus atributos en una tabla -->
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Ubicación</th>
          <th>Producción</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!--*ngFor Iterar sobre los pozos-->
        <tr *ngFor="let pozo of pozos" [class.activo]="pozo.estado === 'activo'" [class.inactivo]="pozo.estado === 'inactivo'">
          <td>{{ pozo.id }}</td>
          <td>{{ pozo.nombre }}</td>
          <td>{{ pozo.ubicacion }}</td>
          <td>{{ pozo.produccionConvertida }}</td>
          <td>
            <label class="switch">
              <input type="checkbox" [checked]="pozo.estado === 'activo'" (change)="cambiarEstado(pozo)" />
              <span class="slider round"></span>
            </label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
